/* Prevent padding and border from affecting element width. */
*, ::before, ::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
}

div {
    position: fixed;
    border-radius: 100%;
    opacity: 1; /*we have to set initial and end value in order for the transition to work*/
    width: 10px;
    height: 10px;
    transform: scale(1); /*we have to set initial and end value in order for the transition to work*/
    filter: blur(1px);
}

.expand {
    transform: scale(100); /*we have to set initial and end value in order for the transition to work*/
    opacity: 0; /*we have to set initial and end value in order for the transition to work*/
}