/* Prevent padding and border from affecting element width. */
*, ::before, ::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
}

div {
    position: fixed;
    border-radius: 100%;
    opacity: 1;
    width: 10px;
    height: 10px;
    transform: scale(1);
    filter: blur(1px);
}

.expand {
    transform: scale(100);
    opacity: 0;
}